
.header-nav-sm {
   background-color: #fff;
}
.col li {
   display: inline-block;
}
.dropdown-menu {
   width: 800px;
   z-index: 2;
}
.navbar a{
   font-size: 15PX;
}
.header-nav {
   z-index: 2;
   background-color: #fff;
}
.navbar {
   background-color: #fff;
   z-index: 2;
}